.header {
    background-color: #007bff;
    color: white;
    padding: 1rem 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 1.5rem;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a,
.header nav ul li button {
    color: rgb(247, 242, 242);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.header nav ul li button:hover,
.header nav ul li a:hover {
    text-decoration: underline;
}